* {
    color: #0d0d0d;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #e0611f;
}

.alert-text {
    color: #b3595d;
}

ul.recipe-list {
    font-weight: bold;
    color: white;
}