* {
    color: #4a4a4a;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alert-text {
    color: #3a9691;
    font-weight: bold;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #e0611f;
}

h2 {
    text-align: left;
    font-weight: bold;
}

ul.recipe-list {
    color: #4a4a4a;
}

img.top-or-bottom-image {
    width: 300px;
    height: auto;
}

/* Color pallete inspiration by Yummly: 

#e0611f for brand logo itself... let's hope this color and the brand's pallette aren't patented 
#3a9691 for both major buttons or buttons that have been clicked or are being hovered over
#4a4a4a for basic text: titles, paragraphs, etc.

*/