* {
    color: #4a4a4a;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.alert-text {
    color: #3a9691;
    font-weight: bold;
    text-align: left;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #e0611f;
}

h2 {
    text-align: left;
    font-weight: bold;
}

h3 {
    text-align: left;
    font-weight: lighter;
}

/* Reserve h6 elements for little easter eggs and whatnot */
h6.easter-egg {
    font-weight: 100;
    text-align: right;
}

h6#shrek-love {
    /* color: #dee2e6; */
    display: inline;
    box-sizing: border-box;
}

li {
    color: #4a4a4a;
}

img.top-or-bottom-image {
    width: 300px;
    height: auto;
}

img.recipe-page-main-image {
    width: 300px;
    height: auto;
}

.full-page-image {
    width: auto;
    height: auto;
}

/* Styling for recipe categories */

.bender-favs {
    background-color: #adb5bd;
}

.my-favs {
    background-color: #ced4da;
}

.le-boring {
    background-color: #dee2e6;
}

div.recipe-list {
    box-sizing: border-box;
    padding: 1em;
    margin: 1em auto;
    border: 2px double black;
    border-radius: 10px;
}

/* Uncomment the following definition block to induce suffering */
/* li, ul, h3 {
    display: flex;
} */

/* Color pallete inspiration by Yummly: 

#e0611f for brand logo itself... let's hope this color and the brand's pallette aren't patented 
#3a9691 for both major buttons or buttons that have been clicked or are being hovered over
#4a4a4a for basic text: titles, paragraphs, etc.

Additional colors found at: https://coolors.co/palettes/popular/gray

*/